Source: ros-hydro-laser-geometry
Section: misc
Priority: extra
Maintainer: Dave Hershberger <hersh@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, libeigen3-dev, ros-hydro-angles, ros-hydro-catkin (>= 0.5.68), ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-tf
Homepage: http://ros.org/wiki/laser_geometry
Standards-Version: 3.9.2

Package: ros-hydro-laser-geometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-hydro-angles, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-tf
Description: This package contains a class for converting from a 2D laser scan as defined by sensor_msgs/LaserScan into a point cloud as defined by sensor_msgs/PointCloud or sensor_msgs/PointCloud2. In particular, it contains functionality to account for the skew resulting from moving robots or tilting laser scanners.
