Source: ros-groovy-laser-geometry
Section: misc
Priority: extra
Maintainer: Dave Hershberger <hersh@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-roscpp,ros-groovy-sensor-msgs,ros-groovy-angles,ros-groovy-tf,libboost1.46-all-dev,libeigen3-dev
Homepage: http://ros.org/wiki/laser_geometry
Standards-Version: 3.9.2

Package: ros-groovy-laser-geometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-tf,ros-groovy-roscpp,ros-groovy-angles
Description: This package contains a class for converting from a 2D laser scan as defined by sensor_msgs/LaserScan into a point cloud as defined by sensor_msgs/PointCloud or sensor_msgs/PointCloud2. In particular, it contains functionality to account for the skew resulting from moving robots or tilting laser scanners.
